.text-slider {
  display: block;
  /* overflow: hidden; */
  position: relative;
}

.text-slider div {
  display: inline-block;
  padding: 5px;
}

.text-slider .content {
  display: none;
}

.text-slider > div > p.not(.active) {
  /* display: none; */
}
.text-slider  p {
  position: absolute;
}

.text-slider p.active {
  bottom: 0%;
  position: absolute;
}

.text-slider p.top {
  bottom: 100%;
}

.text-slider p.bottom {
  bottom: -100%;
}
