.text-slider {
  display: block;
  overflow: hidden;
  /* position: relative; */
  height: 60px;
}

.text-slider > div {
  display: inline-block;
  /* padding: 10px; */
  /* position: relative; */
  vertical-align: top;
}

.text-slider .verb {
  text-align: right;
}

.text-slider > div > p {
  padding: 5px;
}

.text-slider > div.content {
  display: none;
}

.text-slider > div.content.active {
  display: inline-block;
}

.text-slider > div > p:not(.active) {
  display: none;
}
.text-slider  p {
  /* position: relative; */
}

.text-slider .active {
  /* top: 0%; */
  /* position: relative; */
}

.text-slider p.top {
  bottom: 100%;
}

.text-slider p.bottom {
  bottom: -100%;
}
